.switch-slider-wrapper {
  position: relative;
  overflow: hidden;
  height: 450px;
  transition: background 1s;
  margin: 10%;
}

.switch-slider {
  margin: 40px auto;
  width: 70vw;
  height: 370px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.switch-slider-img-wrapper {
  width: 50%;
  display: inline-block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.switch-slider-img-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-slider-pic {
  width: 80%;
  margin: auto;
}

.switch-slider-map {
  width: 250px;
  top: 60px;
  left: 30px;
  opacity: 0.5;
}
.switch-slider-map.map2 {
  width: 200px;
  left: 50px;
}

.content-wrapper {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
}

.content-wrapper h4 {
  color: black;
}

.particle-container {
  display: flex;
  justify-content: center;
}

.switch-slider-text-wrapper .banner-anim-elem {
  padding: 40px;
}

.content-item {
  width: 40%;
  position: absolute;
  top: 0;
}

.switch-slider-text-wrapper h1 {
  font-size: 18px;
  margin: 5px auto;
}

.switch-slider-text-wrapper em {
  height: 2px;
  width: 60px;
  border-radius: 2px;
  display: block;
}

.switch-slider-text-wrapper p {
  font-size: 13px;
  margin-top: 10px;
}

.switch-slider-wrapper .anticon {
  position: absolute;
  font-size: 24px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
}

.switch-slider-wrapper .anticon-left {
  left: 5px;
}

.switch-slider-wrapper .anticon-right {
  right: 5px;
}

@media screen and (max-width: 414px) {
  .switch-slider {
    transform: scale(0.85) translateX(12px);
  }
}
@media screen and (max-width: 320px) {
  .switch-slider {
    transform: scale(0.46) translateX(12px);
  }
}
