.navbarWrapper {
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 57px;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}

.navbar {
  width: 20vw;
  margin-left: 85px;
}

.logo {
  width: 12vw;
  margin-top: 15px;
}

@media screen and (max-width: 760px) {
  .navbar {
    border-right: none;
  }
}

@media screen and (max-width: 760px) {
  .borderArea {
    border-right: none;
  }
}
