.stackCardsContainer {
  width: 150px;
  height: 150px;
  margin: 15px;
  transform-style: flat;
}

.stackCard {
  position: absolute;
  width: 150px;
  height: 150px;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
}

.stackCardImg {
  width: 100%;
}
