.stackCardsContainer {
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  transform-style: flat;
}

.stackCard {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  will-change: transform;
  cursor: pointer;
}

.stackCardImg {
  width: 100%;
}
