@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

* {
  box-sizing: border-box;
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: rgb(14, 13, 13);
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: black;
  font-weight: 700;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #ebeced;
  font-family: "Gilroy-Light", sans-serif;
}

#root {
  width: 100vw;
  font-size: 1.25em;
  overflow-x: hidden;
  cursor: default;
  position: absolute;
  top: 0;
}

.main-container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  background-color: #ebeced;
}
