@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #ebeced;
  font-family: "Gilroy-Light", sans-serif;
}

#root {
  width: 100vw;
  font-size: 1.25em;
  overflow-x: hidden;
  cursor: default;
}

.main-container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  background-color: #ebeced;
}
