.coursePageWrapper {
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.coursePageContainer {
  width: 70%;
  margin: 0 10% 10% 10%;
  position: relative;
  z-index: 2;
  background: rgb(111, 128, 144, 0.5);
  padding: 7%;
}
